@charset 'utf-8';

/* reset */
html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: #fff;
}

p {
  line-height: 1.6;
}

a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}


/* header */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
  z-index: 13;
  background-color: rgba(255, 255, 255, 0.9);
}

.global-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; /* 앞으로 나오게 */
  width: 100%;
  height: 44px;
  padding: 0 1rem;
}

.local-nav {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 11; /* 앞으로 나오게 */
  width: 100%;
  height: 52px;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd ;
}

.global-nav-links,
.local-nav-links {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.global-nav-links {
  justify-content: space-between;
}

.product-name {
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: 900;
}

.local-nav-links a:not(.product-name) {
  margin-left: 2em;
  font-size: 0.8rem;
}

/* scroll-section-0 */

#scroll-section-0 {
  padding-top: 50vh;
}


#scroll-section-0 h1 {
  position: relative;
  top: -10vh;
  z-index: 5;
  font-size: 4rem;
  text-align: center;
}

.main-message {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40vh;
  margin: 5px 0;
  height: 3em;
  font-size: 2.5rem;
  opacity: 0;
  /* background: rgba(0,0,0,0.3); */
}

.main-message p{
  font-weight: 900;
  text-align: center;
  line-height: 1.2;
  /* text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff; */
}

p.header {
  /* color: rgb(29, 29, 31); */
  color: #fff;
  /* text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff; */
}

.sticky-elem {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}

.sticky-elem-canvas {
  top: 0;
  height: 100%;
  transform: scale(50%, 50%);
}

.sticky-elem-canvas canvas {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

/* scroll-section-1 */

#scroll-section-1 {
  padding-top: 20vh;
  /* background: beige; */
}

.description{
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.2rem;
  color: #888;
  padding: 0 1rem;
}

.description::after {
  display: block;
  content: '';
  clear: left;
}

.description strong {
  float: left;
  margin-right: 0.2em;
  font-size: 3rem;
  color: rgb(29, 29, 31);
}

.button {
  display: inline-block;
  font-size: 0.8em;
  font-weight: 900;
  color: #fff;
  background-color: #9a8c98;
  border-radius: 35px;
  padding: 12px 12px;
  margin: 20px 20px 20px 0px;
  order: 1;
}


/* scroll-section-2 */

#scroll-section-2 {
  padding-top: 50vh;
}

.main-message small {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1rem;
}

#scroll-section-2 .main-message {
  font-size: 3.5rem;
}

#scroll-section-0 .sticky-elem,
#scroll-section-1 .sticky-elem,
#scroll-section-2 .sticky-elem,
#scroll-section-3 .sticky-elem{
  display: block;
}

/* scroll-scetion-3 */

#scroll-section-3 {
  padding-top: 50vh;
  margin-bottom: 50vh;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#oracle-logo {
  width: 300px;
  height: 100px;
}

#java-logo{
  width: 150px;
  height: 100px;
}

#html5-logo{
  margin-top: 20px;
  width: 300px;
  height: 100px;
}

#python-logo {
  margin-top: 20px;
  width: 300px;
  height: 100px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}


.mid-message {
  padding: 0 1rem;
  color: rgb(29, 29, 31);
}

.mid-message strong {
  font-size: 2rem;
}

.Portfolio-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.Portfolio-title {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: rgb(29, 29, 31);
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 2rem;
}


.project-gif {
  width: 300px;
  border-radius: 5px;
  background: #e0e0e0;
  box-shadow:  20px 20px 17px #808080,
              -20px -20px 17px #ffffff;
}

.project-gif:hover {
  position: relative;
  top: -10px;
}

.project-property {
  margin-top: 2.5em;
}

.project-name {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.project-name::before {
  content: '⁞';
  margin-right: 1rem;
}

#right-property {
  text-align: right;
}

#right-name {
  text-align: right;
}

.more-button {
  text-align: center;
}

#move-portfolio {
  margin-top: 2em;
  font-size: 1.3rem;
  border-radius: 50px;
  background: #838383;
  box-shadow:  9px 9px 9px #797979;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  background-color: #fff;
  border-top: 1px solid #ddd ;
  margin-top: 20vh;
  font-size: 0.6rem;
}


/* .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: white;
  opacity: 0;
  transition: 4s;
}

.before-load .loading {
  opacity: 1;
}

@keyframes loading-spin {
  100% {transform: rotate(360deg);}
}
@keyframes loading-circle-ani {
  0% {stroke-dashoffset:157 ;}
  75% {stroke-dashoffset:-147 ;}
  100% {stroke-dashoffset:-157 ;}
}

.loading-circle {
  width: 54px;
  height: 54px;
  animation: loading-spin 3s infinite;
}
.loading-circle circle {
  stroke: black;
  stroke-width: 4;
  getTotalLength()로 stroke의 길이를 얻어올 수 있음
  stroke-dasharray: 157;
  fill: transparent;
  animation: loading-circle-ani 1s infinite;
} */


@media screen and (min-width:1024px) {
  #scroll-section-0 h1 {
    font-size: 9vw;
  }
  .main-message {
    font-size: 4vw;
  }
  .description {
    font-size: 2rem;
  }
  #strong-bold {
    font-size: 6rem;
  }
  #scroll-section-2 .main-message {
    font-size: 6vw;
  }
  #scroll-section-2 small {
    font-size: 1.5vw;
  }
  .mid-message {
    font-size: 4vw;
  }
  .canvas-caption{
    font-size: 2rem;
  }
  #oracle-logo {
    width: 300px;
    height: 100px;
  }
  #java-logo{
    width: 150px;
    height: 100px;
  }
  #html5-logo{
    margin-top: 20px;
    width: 300px;
    height: 100px;
  }
  #python-logo {
    margin-top: 20px;
    width: 300px;
    height: 100px;
  }
  .project-gif {
    width: 450px;
  }
  .project-gif:hover {
    top: -15px;
  }
  
  .project-property {
    margin-top: 3em;
  }
  
  .footer {
    font-size: 1rem;
  }
}