.primary {
  padding-top: 30vh;
  max-width: 1000px;
  margin: 0 auto;
}

.project-title {
	transition: color 500ms;
}

.project-title:hover {
	color: #0088ff;
}

/* card list */
.card-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(50%, auto));
	column-gap: 2%;
}

.card-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	border: 2px solid #888;
	transition: transform 300ms;
}
.card-image {
	height: 0;
	padding-bottom: 65%;
	background-color: lightgray;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.card-item:hover {
	transform: translate(0, -20px);
}

.card-image img {
	display: none;
}
.card-desc {
  width: 100%;
	margin-top: 10px;
	margin-left: 10px;
	/* background: white; */
	font-size: 0.8em;
  /* border-top: 1px solid black; */
	
}

.period {
  margin-top: 1rem;
}

.using-stack {
	margin-top: 0.5rem;
}

.in-desc {
  margin-top: 0.8em;
  letter-spacing: 0.03rem;
  margin-bottom: 0.3rem;
}

span {
  font-size: 0.9em;
}


@media screen and (min-width:1024px) {
  .card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, auto));
    column-gap: 2%;
  }
}